--extra-index-url https://download.pytorch.org/whl/cpu

# Crawler
scrapy >= 2.5.0

# Annotator
html2text >= 2020.1.16
fasttext-wheel >= 0.9.2
transformers >= 4.16.2
torch >= 1.13.0
pyonmttok >= 1.29.0
natasha >= 1.4.0
pillow == 9.2.0

# Clustering
scipy >= 1.7.1
scikit-learn>=0.24.2,<=1.3.2

# Client
httpx >= 0.21.3

# Renderer
jinja2 >= 3.0.1

# Shared
pymongo >= 4.0.2

# Linter
pre-commit >= 2.20.0
flake8 >= 5.0.4
flake8-bugbear == 22.7.1
flake8-builtins == 1.5.3
flake8-simplify == 0.19.3
flake8-pie == 0.16.0
pep8-naming == 0.13.1

# Tests
pytest >= 6.2.5
pytest-check >= 1.0.9

# Analytics
wordcloud >= 1.8.1
toloka-kit >= 1.0.1
crowd-kit >= 1.1.0
nltk >= 3.7
pandas >= 1.5.1

# Bots
python-telegram-bot >= 13.14
annoy >= 1.17.1

# Language models
openai >= 0.27.8

# Export
feedgen == 0.9.0
ghp-import == 2.1.0
