{{annotation_doc.text|e}} — <a href="{{annotation_doc.url}}">{{annotation_doc.channel_title}}</a>
{% if external_link %}
Вероятный первоисточник: <a href="{{external_link.url}}">{{external_link.host}}</a>
{% endif %}
<i>Новости группируются автоматически. Сообщение не достоверно. Правдивость информации не проверяется.</i>

👁️{{views}}
{% for group, sources in groups %}
    {%- if group == "red" -%}🇷🇺
    {%- elif group == "blue" -%}🌎
    {%- elif group == "purple" -%}⚖️
    {%- endif -%}
    {%- for source in sources %}<a href="{{source.url}}">{{source.channel_title}}</a>{% if not loop.last %} • {% endif %}{% endfor %}
{% endfor %}
⏱<a href="{{first_doc.url}}">{{first_doc.channel_title}}</a>, {{first_doc.pub_time.strftime("%H:%M")}} MSK

