{{annotation_doc.patched_text|e}} — <a href="{{annotation_doc.url}}">{{annotation_doc.channel_title}}</a>
{% if external_link %}
Вероятный первоисточник: <a href="{{external_link.url}}">{{external_link.host}}</a>
{% endif %} {% if diff %}
Другие подробности:{% for d in diff %}
▪{{d["text"]}} — {{d["channels"]}}{% endfor %}
{% endif %}
<i>Новости группируются автоматически. Сообщение не достоверно. Правдивость информации не проверяется. Секция с подробностями составлена языковой моделью.</i>

👁️{{views}}
{% for group, sources in groups %}
{{-emojis[group]-}}{%- for source in sources %}<a href="{{source.url}}">{{source.channel_title}}</a>{% if not loop.last %} • {% endif %}{% endfor %}
{% endfor %}
⏱<a href="{{first_doc.url}}">{{first_doc.channel_title}}</a>, {{first_doc.pub_time.strftime("%H:%M")}} {{tz_name}}
