Отчёт за последние сутки.

Всего сюжетов: <b>{{cluster_count}}</b>.
В среднем сюжеты выходят раз в <b>{{cluster_frequency}}</b> минут.
Средняя задержка от первой публикации до формирования сюжета: <b>{{average_lag_minutes}}</b> минут.

<b>Топ-10 каналов по покрытию:</b>
{% for channel, cnt in channels_cnt -%}
{{channel.emojis[issue_name]}}{{channel.alias}}: {{cnt}} сюжетов
{% endfor %}
<b>Топ-10 самых оперативных:</b>
{% for channel, cnt in first_docs -%}
{{channel.emojis[issue_name]}}{{channel.alias}}: в {{cnt}} сюжетах
{% endfor %}
<b>Самая просматриваемая новость:</b>
{{best_cluster.annotation_doc.cropped_text}} <a href="https://t.me/nyannews/{{best_cluster.message.message_id}}">ссылка</a>
{% if best_blue_cluster %}
<b>Самая просматриваемая "синяя" новость:</b>
{{best_blue_cluster.annotation_doc.cropped_text}} <a href="https://t.me/nyannews/{{best_blue_cluster.message.message_id}}">ссылка</a>
{% endif %} {% if best_red_cluster %}
<b>Самая просматриваемая "красная" новость:</b>
{{best_red_cluster.annotation_doc.cropped_text}} <a href="https://t.me/nyannews/{{best_red_cluster.message.message_id}}">ссылка</a>
{% endif %}
Предложения/пожелания: nyan_news@protonmail.com
