Все новости:
{% for cluster in clusters %}
###

{{cluster["url"]}}
{{cluster["dt"]}}
{{cluster["views"] // 1000}} тысяч просмотров
{{cluster["sources_count"]}} источников

{{cluster["text"]}}
{% endfor %}
###

* Для каждой новости сделай заголовок. В нём должно быть не более 12 слов и не больше 90 символов. В заголовке должно быть сказумое-глагол, но оно не должно быть первым словом.
* Выбери эмодзи, наиболее подходящее каждой новости. Не используй следующие эмодзи: 🔥, 🚀.
* Определи важность и интересность по здравому смыслу, просмотрам и источникам. Отранжируй все новости по {{batch_size}}-балльной шкале. {{batch_size}} означает максимально важную новость, 1 - самую незначительную. Оценки должны быть уникальны. Например, если у одной новости уже стоит 3, то другим новостям 3 уже нельзя ставить.
* Выведи сказуемое (обычно глагол). Не меняй слова, сказумое должно быть подстрокой заголовка.
* Выведи результат списком в JSON аналогично примеру:
```json
{
    "titles": [
        {
            "url": "https://t.me/nyannews/19697",
            "title": "Спирт, из которого варили смертельный «Мистер Сидр» был украден со склада Самарского МВД.",
            "emoji": "🍺",
            "explanation": "Локальное происшествие, но с большим количеством пострадавших и фактами коррупции в полиции. Поэтому важность чуть выше средней.",
            "importance": 2,
            "verb": "был украден"
        },
        {
            "url": "https://t.me/nyannews/19839",
            "title": "США и Россия нарастили число развёрнутых ядерных боеголовок с 2022 года",
            "emoji": "☢️",
            "explanation": "Глобальная геополитическая новость, которая приближает ядерный апокалипсис, но при этом прямо сейчас никак не влияющая на жизнь людей. Поэтому важность сильно выше средней.",
            "importance": 3,
            "verb": "нарастили"
        },
        {
            "url": "https://t.me/nyannews/19814",
            "title": "Токаев объявил 12 июня днем общенационального траура по жертвам лесных пожаров.",
            "emoji": "🖤",
            "explanation": "Локальная новость об объявлении траура. Никак не влияет на жизнь людей. Важность сильно ниже среднего.",
            "importance": 1,
            "verb": "объявил"
        }
    ]
}
```
Ответ:
