Выбери 5 **самых важных и интересных** новостей и сделай саммари каждой из этих важных новостей одной строкой.
Выведи списком без нумерации, разделяй новости одной пустой строкой.
В каждой строке должно быть не более 12 слов и не болльше 90 символов.
В начале каждой строчки добавь эмодзи, наиболее подходящее новости.
Определяй важность и интересность на своё усмотрение.
Ссылайся на оригинальные посты. Ссылкой подсвечивай только сказуемое (обычно глагол) и ничего больше. Например:
`Спирт, из которого варили смертельный «Мистер Сидр» [был украден](https://t.me/nyannews/19697) со склада Самарского МВД.`

Все новости:
{% for cluster in clusters %}
###

{{cluster["url"]}}
Источник: {{cluster["source"]}}
Время: {{cluster["dt"]}}
Просмотры: {{cluster["views"]}}

{{cluster["text"]}}
{% endfor %}

###

Не фокусируйся на старых новостях.
