Выбери 5 **самых важных** новостей и сделай саммари каждой из этих важных новостей одной строкой.
Определи важность на своё усмотрение.
Выведи списком в Markdown. Ссылайся на оригинальные посты.
Ссылку вставляй в текст новости, подсвечивая только сказуемое. Например: Спирт, из которого варили смертельный «Мистер Сидр» [был украден](https://t.me/nyannews/19697) со склада Самарского МВД.
В начале каждой строчки добавь эмодзи, наиболее подходящее новости.

Все новости:
{% for cluster in clusters %}
=====
{{cluster["url"]}}, {{cluster["source"]}}, {{cluster["dt"]}}
Просмотры: {{cluster["views"]}}

{{cluster["text"]}}
{% endfor %}
